# Loads default set of integrations. Do not remove.
default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - {{ home_assistant_trusted_proxy }}

shell_command:
  clean_backup_dir: find /config/backups -name *.tar -type f -mmin +720 -delete

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
